.add-to-cart {
	position: relative;
	overflow: hidden;
}

.add-to-cart .added {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	font-size: 1.2em;
	opacity: 0;
	transform: translate(-50%, -50%);
}

.add-to-cart .cart-ico {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -10%;
	font-size: 2em;
	opacity: 0;
	transform: translate(-50%, -50%);
}

.add-to-cart.clicked span.button-text {
	animation: txt 1.5 ease-in-out forwards;
}

.add-to-cart.clicked .cart-ico {
	animation: cart 1.5s ease-in-out forwards;
}

.add-to-cart.clicked span.added {
	animation: check 1.5s ease-in-out forwards;
}

@keyframes txt {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes cart {
	0% {
		opacity: 1;
		left: -10%;
	}
	40%, 60% {
		opacity: 1;
		left: 50%;
	}
	100% {
		left: 110%;
	}
}

@keyframes check {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/********** COUNTER **********/
span#cart-counter {
	left: 20px;
	top: -10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 0.7em;
	color: white;
}

.bounce-twice {
	animation: bounce-2 2s ease infinite;
}

@keyframes bounce-2 {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-7px);
	}
	60% {
		transform: translateY(-3px);
	}
}

/********** NOTIFICATION **********/
span.notification-dot {
	position: relative;
	top: -8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	background: red;
}