header {
	background-color: #1a5635;
	padding: 7px 15px;
	text-align: center;
}

header a, header a:hover, footer a {
	color: white;
}

button#expand-menu {
	color: white;
}

nav li a, footer a {
	padding: 5px 8px;
	border-radius: 2px;
}

nav li a:hover, footer a:hover {
	color: black;
	background-color: rgba(234, 234, 247, 0.644);
}

img#logo-img {
	display: none;
}

ul#menu li {
	display: inline;
}

ul#menu {
	margin: 0;
	padding: 0;
	display: none;
}

nav.flex-container {
	padding: 0;
	display: flex;
	flex-direction: column;
	vertical-align: middle;
}

div.flex-1 {
	flex: 100%;
	display: flex;
	justify-content: space-between;
}

div.flex-2 {
	flex: 100%;
	display: flex;
	justify-content: center;
	padding-top: 4px;
}

@media screen and (min-width: 768px) {
	nav {
		padding: 5px;
	}

	img#logo-img {
		display: block;
		width: 60px;
		margin: 2px 10px 2px 0;
	}

	button#expand-menu {
		display: none;
	}

	ul#menu {
		display: block !important;
		text-align: right;
	}

	nav.flex-container {
		flex-direction: row;
	}

	div.flex-1 {
		flex: 55%;
		align-items: center;
		justify-content: start;
	}

	div.flex-2 {
		flex: 45%;
		align-items: center;
		justify-content: flex-end;
	}
}