aside#sidenav {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	z-index: 1;
	display: flex;
	overflow-x: hidden;
	transition: 0.3s;
}

div#left-side {
	width: 100%;
	flex-grow: 1;
	text-align: center;
	background-color: #1A5653;
}

div#bg-overlay {
	display: none;
	background-color: rgba(94, 94, 94, 0.5);
}

div#close-button-div {
	text-align: right;
}

button#close-search {
	padding: 20px;
	color: white;
}

div#left-side h2 > a {
	font-size: 25px;
	color: white;
	transition: 0.1s;
}

div#left-side h2 > a:hover {
	color: #949494;
}

h2.header {
	margin: 0;
	padding: 15px 0;
	background-color: #08313A;
}

h2.header a {
	font-size: 20px !important;
}

div#accordion > section:not(:last-of-type) > h2.header {
	border-bottom: solid #062127 1.2pt;
}

ul.body {
	margin: 0;
	padding: 0;
	list-style: none;
	color: white;
	background-color: #08313ab4;
}

ul.body li {
	display: list-item;
	padding: 18px 0;
}

div#accordion section:not(:last-of-type) li:hover {
	background-color: #08313A;
}

input#slider {
	width: 75%;
}

button#apply-filter {
	padding: 5px 0;
	margin-top: 20px;
	width: 40%;
	max-width: 80px;
	border: none;
	border-radius: 2px;
	color: white;
	background-color: #08313A;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
	div#left-side {
		width: 250px;
	}

	div#bg-overlay {
		min-width: calc(100% - 250px);
		display: block;
	}
}