/* NAVBAR */
header {
	background-color: #1a5635;
	overflow: hidden;
	padding: 6px;
	text-align: center;
}

nav a, nav a:hover, footer a, header a, header a:hover {
	color: white;
}

nav li a, footer a {
	padding: 6px;
}

nav li a:hover, footer a:hover {
	background-color: rgba(234, 234, 247, 0.644);
	border-radius: 2px;
	color: black;
}

img#logo-img {
	display: none;
	width: 80px;
}

ul#menu li {
	display: inline;
}

ul#menu {
	display: none;
	padding: 0;
	margin: 0;
}

button.icon {
	border: none;
	background-color: inherit;
	color: white;
}

nav.flex-container {
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	padding: 0;
}

div.flex-1 {
	flex: 100%;
	display: flex;
	justify-content: space-between;
}

div.flex-2 {
	flex: 100%;
	display: flex;
	justify-content: center;
}

/* MAIN */
main h2 {
	padding-bottom: 15px;
}

main {
	padding-bottom: 55px;
}

button#search-button:hover, button#cart:hover{
	color: white;
	border-radius: 2px;
	background-color: grey;
}

section#filters button.icon {
	color: black;
	padding: 5px 10px;
}

main section#filters {
	background-color: rgba(151, 151, 151, 0.726);
	padding: 5px 7px;
}

main section > h2 {
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

section div#product-list {
	margin: 0 20px;
	display: flex;
	flex-wrap: wrap;
}

section div.product-card {
	margin: 10px 10px;
	flex: 1 auto; /* flex grow and flex basis */
	display: flex;
	background-color: rgba(199, 199, 199, 0.452);
	border-radius: 2px;
}

div.product-img img {
	max-width: 100px;
	margin: 5px;
	border-radius: 2px;
}

div.product-info {
	margin: auto;
}

div.product-info > button {
	font-size: small;
}

/* SIDEBAR */
aside#sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1A5653;
	overflow-x: hidden;
	transition: 0.3s;
	text-align: center;
}

aside#sidenav h2 > a {
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.1s;
}

aside#sidenav h2 > a:hover {
	color: #949494;
}

div#close-button-div {
	text-align: right;
}

button#close-search {
	padding: 20px;
}

div#accordion > section:not(:last-of-type) > h2.header {
	border-bottom: solid #062127 1.2pt;
}

h2.header {
	color: white;
	margin: 0;
	padding: 20px 0;
	background-color: #08313A;
}

ul.body li {
	display: list-item;
	padding: 18px 0;
}

ul.body {
	color: white;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #08313ab4;
}

div#search-1 li:hover, div#search-2 li:hover {
	background-color: #08313A;
}

input#slider {
	width: 80%;
}

button#cerca {
	width: 40%;
	max-width: 80px;
	padding: 5px 0;
	color: white;
	background-color: #08313A;
}

/* BODY */
body {
	position: relative;
	min-height: 100vh;
}

/* OTHERS */
img#login-img {
	width: 85%;
	padding-bottom: 30px;
}

div.fade-me {
	display: flex;
	width: 100%;
	justify-content: center;
	position: fixed;
	top: 100px;
	z-index: 5;
}

div.fade-me > div {
	text-align: center;
	min-width: 35%;
}

a {
	text-decoration: none !important;
}

/* FOOTER */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

footer > div {
	padding: 15px 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
	nav {
		padding: 5px;
	}

	img#logo-img {
		display: block;
	}

	img#login-img {
		width: 8%;
	}

	button#expand-menu {
		display: none;
	}

	aside#sidenav {
		max-width: 250px;
		transition: 1s;
	}

	ul#menu {
		display: block !important;
		text-align: right;
	}

	nav.flex-container {
		flex-direction: row;
	}
	
	div.flex-1 {
		flex: 55%;
		align-items: center;
	}
	
	div.flex-2 {
		flex: 45%;
		align-items: center;
		justify-content: flex-end;
	}

	div.product-img img {
		max-width: 180px;
	}
}

@media screen and (min-width: 400px) {
	img#login-img {
		width: 200px;
	}
}