body{
	font-family: monospace;
}

/* NAVBAR */
header {
	background-color: rgb(28, 128, 33);
	overflow: hidden;
	padding: 12px;
	text-align: center;
}

nav a, nav a:hover, footer a, footer a:hover, header a, header a:hover {
	text-decoration: none;
	color: white;
}

main p a {
	text-decoration: none;
}

main h2 {
	padding-bottom: 15px;
}

a#logo-img {
	display: none;
}

img#login-img {
	width: 85%;
	padding-bottom: 30px;
}

ul#menu li {
	display: inline;
	margin: 0 10px;
}

ul#menu {
	display: none;
	padding: 0;
	margin: 0;
}

button#expand-menu {
	border: none;
	background-color: inherit;
	color: white;
	font-size: larger;
}

nav.flex-container {
	display: flex;
	flex-direction: column;
	vertical-align: middle;
}

div.flex-1 {
	flex: 100%;
	display: flex;
	justify-content: space-between;

}

div.flex-2 {
	flex: 100%;
	display: flex;
	justify-content: center;
}

/* BODY */
body {
	position: relative;
	min-height: 100vh;
}

/* SIDEBAR */
div#sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 40px;
	text-align: center;
}

div#sidenav a {
	padding: 10px 0;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

div#sidenav a:hover {
	color: #f1f1f1;
}

span#close-sidebar {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

div#accordion{
	margin-top: 20px;
}

div.card-header, div.card-body, 
div.card-header > h2, div.card-header > h2 > a,
div.card-body ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.card-header {
	text-align: justify;
	background-color: black;
	color: white;
}

div.card{
	border: none;
}

.slider:hover {
	opacity: 1;
}

div.card-body {
	margin: 15px 0;
}

input#slider {
	width: 80%;
}

div#sidenav button {
	margin-top: 30px;
	width: 40%;
}


/* MAIN */
main {
	padding-bottom: 55px;
}

/* FOOTER */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

footer > div {
	padding: 15px 0;
}

@media screen and (min-width: 768px) {
	nav {
		padding: 10px;
	}

	a#logo-img {
		display: block;
	}
	img#login-img {
		width: 8%;
	}

	button#expand-menu {
		display: none;
	}

	ul#menu {
		display: block !important;
		text-align: right;
	}

	nav.flex-container {
		flex-direction: row;
	}
	
	div.flex-1 {
		flex: 55%;
		align-items: center;
	}
	
	div.flex-2 {
		flex: 45%;
		align-items: center;
		justify-content: flex-end;
	}
}

@media screen and (min-width: 400px) {
	
	img#login-img {
		width: 200px;
	}
}